<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        
        
        {#
        @TODO
            Tive que colocar a linha abaixo para que o jquery fique no topo da página e a inseração 
            de novos itens no formulário de OS funcione
            já que mesmo com a inserção do jquery no pé da página não funcionou. 
            verificar
        #}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        
        
        
    </head>
    <body>
        <div class="navbar-header navbar-default">
            <a href="/" class="navbar-brand">Lavanderia Imperatriz</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse  navbar-default" id="navbar-main">
            <ul class="nav navbar-nav navbar-default">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">PDV <span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-default" aria-labelledby="themes">
                        <li><a tabindex="-1" href="{{ path('os_new') }}">Cadastrar Roll</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="{{ path('os') }}">Consultar Roll</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Clientes<span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-default" aria-labelledby="themes">
                        <li><a tabindex="-1" href="{{ path('cliente') }}">Clientes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Fornecedores <span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-default" aria-labelledby="themes">
                        <li><a tabindex="-1" href="cadastrarPedido.php">Cadastrar Pedidos</a></li>
                        <li><a tabindex="-1" href="consultarPedido.php">Consultar Pedidos</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="cadastrarFornecedor.php">Cadastrar Fornecedor</a></li>
                        <li><a tabindex="-1" href="consultarFornecedor.php">Consultar Fornecedor</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="cadastrarInsumo.php">Cadastrar Insumo</a></li>
                        <li><a tabindex="-1" href="consultarInsumo.php">Consultar Insumo</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Financeiro <span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-default" aria-labelledby="themes">
                        <li><a tabindex="-1" href="agendarMovimentacao.php">Cadastrar Movimentação</a></li>
                        <li><a tabindex="-1" href="consultarMovimentacao.php">Consultar Movimentação</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="{{ path('planoconta') }}">Plano de contas</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="cadastrarBeneficiario.php">Beneficiários</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Relatórios <span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-default" aria-labelledby="themes">
                        <li><a tabindex="-1" href="relatorioAnalitico.php">Analítico</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Configurações <span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-default" aria-labelledby="themes">
                        <li><a tabindex="-1" href="pontosColeta.php">Pontos de coleta</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="{{ path('pais') }}">Países</a></li>
                        <li><a tabindex="-1" href="{{ path('estado') }}">Estados</a></li>
                        <li><a tabindex="-1" href="{{ path('cidade') }}">Cidades</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="{{ path('tipocobrancapagamento') }}">Forma de pagamento</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="{{ path('servico') }}">Serviços</a></li>
                        <li><a tabindex="-1" href="{{ path('item') }}">Peças</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="planoContaPadrao.php">Plano de contas padrão</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Ajuda</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="login.php">Sair</a></li>
            </ul>
        </div>
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {% javascripts '@jquery' '@bootstrap_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
