{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ entity.telefone }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ entity.celular }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Observacao</th>
                <td>{{ entity.observacao }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Os's do cliente</th>
                <td colspan="6">
                    <table class="table">
                        <thead>
                            <th>Id</th>
                            <th>Cadastrado</th>
                            <th>Prometido</th>
                            <th>Empacotado</th>
                            <th>Entrega</th>
                            <th>Valor</th>
                            <th>Obs</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            {% for os in entity.oss %}
                            <tr>
                                <td>{{ os.id }}</td>
                                <td>{{ os.dataCadastro|date('d/m/Y H:i:s') }}</td>
                                <td>{{ os.dataPrometida|date('d/m/Y H:i:s') }}</td>
                                <td>{{ os.dataPacote|date('d/m/Y H:i:s') }}</td>
                                <td>{{ os.dataEntrega|date('d/m/Y H:i:s') }}</td>
                                <td>{{ os.valorCobrado }}</td>
                                <td>{{ os.obs }}</td>
                                <td>{{ os.status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cliente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cliente_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
